# Face clasa TextureStateShard publică (Echivalentul lui RenderPhase$Texture din Fabric)
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard
# Face clasa MapInstance publică (Echivalentul lui MapRenderer$MapTexture)
public net.minecraft.client.renderer.MapItemRenderer$MapInstance